<h1>Ugly Editable Homepage</h1>

<h1>the area below this is editable... this is not</h1>
<div ng-repeat-start="friend in friends" ng-if="$first" big>
    <h1>{{friend.firstName}}</h1>
    <p>click the image it's a link (this text is also not editable)</p>
    <a href="{{friend.lastName}}"> <img data-ng-src="{{'data:image/jpg;base64,'+friend.image}}" width="30%" height="auto"></a>
    <hr>
    <h3>date {{friend.birthday | date:'yyyy-MM-dd'}} this is a date you can edit it but not the text surrounding it</h3>
    <hr>
    <a ng-href="#/friends/{{friend._id}}/edit">if you click this it will take you to a page that will allow you to edit the fields above</a>
  </div>
  <div ng-repeat-end ng-if="!$first">
  </div>
<!-- <hr>
<table>
	<tr >
		<th>Name</th>
		<th>Show</th>
		<th>Update</th>
		<th>Delete</th>
		<th></th>
	</tr>
	<tr ng-repeat="friend in friends | filter:searchText">
		<td>{{friend.firstName}} {{friend.lastName}}</td>
		<td><a ng-href="#/friends/{{friend._id}}">Show</a></td>
		<td><a ng-href="#/friends/{{friend._id}}/edit">Update</a></td>
		<td><a href="#" ng-click="delete(friend._id)">Delete</a></td>
		<td><input type="hidden" value={{friend.birthday}}></td>
	</tr>
</table> -->